/* 
	CSS 
	Tara Anand 
	August 2017 
*/ 

/* ----------------------- Typography ----------------------- */
* {
      margin: 0 auto;
      padding: 0;
      text-align: left;
      line-height: 1.5;
      color: rgb(0, 0, 0);
      font-weight: 300;
}

p{
	font-size:25px; 
	font-family:'Alegreya Sans', sans-serif;

}

h1{
	font-family:'Alegreya Sans SC', 'Alegreya Sans', sans-serif;
	line-height: 1.5;
	font-size: 40px;
	text-align: left;
	
}

h2{
	font-family:'Alegreya Sans SC', 'Alegreya Sans', sans-serif;
	font-size: 30px;
	line-height: 1.5;
	text-align: left;
}

.title{
	color:rgb(255,255,255);
	font-family: 'Cormorant', serif ;
	font-size: 50px;
	line-height: .3;
	text-align: left;
	padding: 0px;
}
.header {
	background: url('city.jpg');
	background-size: 100%;
	margin: 0 auto;
	background-repeat:no-repeat;
	padding-left: 5%;
	padding-top: 11%;
	padding-bottom:30px;
	box-shadow: inset 0 0 0 1000px rgba(31, 58, 147, .7);
}


.subSectionHeader{
    padding-top: 5%;
}

.main{
	/*font-family:'Alegreya Sans', sans-serif;
	background-color: rgb(253, 253, 253);*/
	padding:15%;
	padding-top: 0px;
	padding-bottom: 2%;
}

.division img{
	border-radius: 50%;
	width: 30%;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	
}

#tech {
	background: url('tech.jpg');
	background-size: 100%;
	margin: 0 auto;
    box-shadow: inset 0 0 0 1000px rgba(256, 256, 256, .95);
	/*box-shadow: inset 0 0 0 1000px rgba(31, 58, 147, .91);*/
	
}

#dance{
	background: url('dance.jpg');
	background-size: 100%;
	margin: 0 auto;
	/*box-shadow: inset 0 0 0 1000px rgba(31, 58, 147, .91);*/
    box-shadow: inset 0 0 0 1000px rgba(256, 256, 256, .91);
}

#shower{
    background: url('shower.jpg');
    background-size: 100%;
    margin: 0 auto; 
    box-shadow: inset 0 0 0 1000px rgba(256, 256, 256, .91);
}

#About{
    padding-bottom: 10%;
}

.light p{
	color:rgb(255,255,255);
}

.light h1{
	color:rgb(255,255,255);
}
.footer {
	background-color: rgb(31, 58, 147);
	margin: 10 auto;
	padding: 35px;
	position: bottom;
}

.footer p{
	text-align:center;
	font-family: 'Alegreya Sans SC', sans-serif;
	color:white;
	line-height: 10.5px;
	font-size:15px;
}

.footer img{
	height:40px;
	padding: 4px;
	margin: 0 auto;
}

/* Slider
------------------------------------------------------------ */


div.container {
    width: 98vw;
    height: 500px;
    margin: 20px auto 0;
    position: absolute;
}
#main-slider-space {
    overflow: hidden;
    width: 100%;
    height: 500px;
}
.slider-wrapper {
    position: relative;
    width: 1000%;
    height: 500px;
}
.main-slide {
    width: 100vw;
    height: 496px;
    float: left;
}
.stuff {
    width: 540px;
    height: 480px;
    margin: auto;
}
div.left {
    width: 260px;
    float: left;
}
div.right {
    display: block;
    width: 280px;
    float: right;
}
.slider-buttons {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30%;
    text-align: center;
    opacity: 0.4;
}
.slider-buttons:hover {
    cursor: pointer;
    opacity: 0.8;
}
#main-slider-prev {
    left: 40px;
    background-image: url("../imgs/arrow_left.png");
}
#main-slider-next {
    right: 40px;
    background-image: url("../imgs/arrow_right.png");
}
.section {
    position: relative;
    margin-top: 0;
    margin-left: -8px;
    width: 100vw;
    height: 88vh;
    min-height: 600px;
    max-height: 700px;
    padding: 6vh 0;
}
/*
div.container {
    width: 100px;
    height: 500px;
    margin: 20px auto 0;
    position: absolute;
} 

#main-slider-space {
    overflow: hidden;
  
}
.slider-wrapper {
    position: relative;
    
}

.main-slide {
    position: relative;
    margin-top: 0;
 padding-left:15%;
 padding-right:15%;
 padding-bottom:5%;
 width: 70%;
    height: auto; 
    float: left;
} 


div.left {
    width: 2600px;
    float: left;
}
div.right {
    display: block;
    width: 2800px;
    float: right;
} 
.slider-buttons {
    position: absolute;
    width: 30px;
    height: 60px;
    top: 30%;
    text-align: center;
    opacity: 0.4;
} 
.slider-buttons:hover {
    cursor: pointer;
    opacity: 0.8;
}
#main-slider-prev {
    left: 40px;
    background-image: url("../imgs/arrow_left.png");
}
#main-slider-next {
    right: 5%;
    background-image: url("../imgs/arrow_right.png");
}*/
.division {
    position: relative;
    margin-top: 0;
 padding-left:15%;
 padding-right:15%;
 padding-bottom:35%;
 width: 70%;
    height: auto;  
}